# Environment variable files
.env

# Docker local override files (should not be committed)
docker-compose.override.yml

# Local appsettings (do not commit sensitive or environment-specific settings)
appsettings.W32.json

# IDE-specific folders
.vs/
.idea/
.vscode/

# Visual Studio user secrets (managed outside of source control)
user-secrets/

# Ignore launchSettings.json (contains machine-specific settings)
**/Properties/launchSettings.json

# Visual Studio user-specific files
*.user
*.suo

# Build output directories
bin/
obj/
Debug/
Release/
logs/

# Log and temporary files
*.log
*.tmp
